<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>Документация</title>
		<link rel="stylesheet" href="./static/docs-style.css" />
        <link rel="icon" type="image/png" href="./static/logo-1.png"/>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
        <div class="content">
            <div class="title">Документация</div>
            <div class="box">
                <h2>Обзор</h2>
                <p>Этот документ даст вам общее представление о Disapi. Он предназначен для того, чтобы помочь вам приступить к изучению и разработке собственных инструментов и продуктов.</p>
                <br>
                <h2>Коды ответов</h2>
                <p>API возвращает все данные в допустимом JSON. Некоторые языки программирования включают встроенную поддержку JSON. Для тех, кто этого не знает, вы можете найти подходящую библиотеку на <a href="http://www.json.org">http://www.json.org</a>.</p>
                <br>
                <p>Обратите внимание, что наши API возвращают только непустые значения для экономии пропускной способности. Любые числовые поля или строки, которое не возвращается, могут приниматься равным null. </p>
                <br>
                <h2>2XX КОДЫ ОТВЕТА </h2>
                <p>Для 2xx кодов ответов всегда можно ожидать тело ответа, задокументированное на справочной странице API.</p>
                <p>Для кодов ответа, отличающихся от 200, обратите внимание на следующее:</p>
                <p>1. Ответ не гарантирует тело ответа.</p>
                <p>2. Если есть тело ответа, он не гарантированно будет JSON.</p>
                <p>3. В настоящее время мы возвращаем JSON с читаемой человеком информацией.</p>
                <br>
                <h2>4XX Коды ОШИБОК</h2>
                <p>Ошибки 4xx предназначены для указания на то, что клиент не смог предоставить действительный запрос. Ниже приведены наиболее распространенные коды ошибок 4xx, с которыми вы можете столкнуться при использовании API.</p>
                <br>
                <p><b>(400)</b> Эта ошибка указывает на синтаксическую ошибку в запросе, и поэтому запрос был отклонен.</p>
                <br>
                <p><b>(403)</b> Эта ошибка указывает на то, что сервер понял запрос, но отказался его авторизовать.</p>
                <br>
                <p><b>(404)</b> Эта ошибка указывает на то, что сервер не нашел данных для выполняемого запроса API.</p>
                <br>
                <p><b>(415)</b> Эта ошибка указывает на то, что сервер отказывается обслуживать запрос, поскольку текст запроса находится в неподдерживаемом формате.</p>
                <br>
                <h2>5XX КОДЫ ОШИБОК</h2>
                <p>Ошибки 5xx указывают на то, что сервер знает, что он совершил ошибку или не может выполнить запрос. Ниже приведены наиболее распространенные коды ошибок 5xx, с которыми вы можете столкнуться при использовании API.</p>
                <br>
                <p><b>(500)</b> Эта ошибка указывает на непредвиденное состояние или ситуацию, которое помешало серверу выполнить запрос API.</p>
                <br>
                <p><b>(503)</b> Эта ошибка указывает на то, что сервер в настоящее время недоступен для обработки запросов по неизвестной причине.</p>
            </div>
            <div class="foter"></div>
        </div>
	</body>
</html>